<nav class="navbar navbar-expand-md bg-light border-bottom position-sticky top-0">
    <div class="container-fluid">
      <i class="fa-solid fa-heart-pulse"></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " a href="/home">Dashboard</a>
          <a class="nav-link " a href="/blogs">Blogs</a>
          <a class="nav-link " a href="/contact">Contact</a>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
          <a class="nav-link " a href="/"><i class="fa-solid fa-right-from-bracket"></i>log out</a>
    </div>
    </div>
  </nav>
